<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="NugetExt" value="nupkg" />
    <add key="SymbolsMarker" value=".symbols." />
    <add key="NugetParams" value="add {0} -Source {1}"/>
  </appSettings>
  
</configuration>